* {
    font-size: 18px;
}

header,
main {
    background-color: rgb(255, 194, 52);
}

.texto-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    color: rgb(65, 31, 9);
}

.texto-principal h3 {
    border: 2px dashed rgb(65, 31, 9);
    font-size: 1rem;
    display: inline-block;
    padding: 0.8rem;
}

.texto-principal h1 {
    font-size: 5rem;
}

.texto-principal h2 {
    font-size: 3rem;
}

.imagem-principal {
    position: relative;
}

.imagem-preco {
    position: absolute;
    bottom: 0;
    left: 0;
}

.delivery span {
    color: rgb(65, 31, 9);
    font-weight: bold;
}

#hamburger-today {
    color: rgb(255, 255, 255);
}

.hamburger-esquerda {
    background-image: url('../img/sessao1/fundo1.png');
    width: 549px;
    height: 387px;
    padding: 1rem;
}

.hamburger-direita {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hamburger-direita-img1 {
    background-image: url('../img/sessao1/fundo2.png');
    width: 548px;
    height: 177px;
    padding: 1rem;
}

.hamburger-direita-img2 {
    background-image: url('../img/sessao1/fundo3.png');
    width: 548px;
    height: 177px;
    padding: 1rem;
}

.menu-textos {
    color: rgb(65, 31, 9);
    text-align: center;
    gap: 2rem;
}

.menu-textos h4 {
    font-size: 1rem;
    background-color: rgb(255, 194, 52);
    display: inline-block;
    padding: 0.5rem;
}

.menu-textos h3 {
    font-weight: bold;
    font-size: 2.5rem;
}

.menu-textos p {
    padding: 0rem 5rem 0rem 5rem;
    ;
}

.card {
    color: rgb(65, 31, 9);
    text-align: center;
    border: none;
    height: 430px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text {
    flex-grow: 1;
    font-size: 0.8rem;
}

.texto-formulario {
    color: rgb(65, 31, 9);
}

.form-control {
    background-color: rgb(255, 194, 52);
}

.btn-primary {
    background-color: rgb(223, 28, 28);
    border: none;
    border-radius: 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(255, 194, 52);
    color: rgb(65, 31, 9);
}

discover-imagem {
    width: 100%;
}

#discover {
    color: rgb(65, 31, 9);
}

#discover h4 {
    font-size: 1.3rem;
}

#discover h3 {
    font-size: 2rem;
    font-weight: bold;
}

#discover p {
    font-size: 0.8rem;
}

footer {
    background-image: url('../img/rodape/fundo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 483px;


    color: rgb(255, 255, 255);
}

footer .footer-parte1 .row {
    height: 350px;
}

.footer-redes {
    gap: 10px;
}

@media (max-width: 980px) {
    * {
        font-size: 20px;
    }

    #hamburger-today .row {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .hamburger-direita {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card-img-top {
        width: 40%;
    }

    .btn-primary {
        width: 50%;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .footer-logo p {
        text-align: center;
    }

    .footer-parte2 .row {
        gap: 15px;
    }
}

@media (max-width: 756px) {
    .card {
        height: 400px;
    }
}

@media (min-width: 1860px) {
    .card-img-top {
        width: 60%;
    }
}